In [3]:
import string
import re
import pandas as pd
from helper_methods import *

print(f're: {re.__version__}')
print(f'pandas: {pd.__version__}')

df = pd.read_csv('../Data-Preprocessed/word_freq.csv', index_col='Unnamed: 0')
df.head()

re: 2.2.1
pandas: 1.3.4

        word   count
17094  AAAAH   52821
22206  AAAAI   33992
15752  AAACE   60117
8831   AAACN  161080
30023  AAAHH   20882

In [4]:
wordle_word = 'HELLO'
guess = 'WHEEL'

print('HELLO' in list(df['word']))

compare(guess = guess, actual = wordle_word)

True

In [14]:
'''
0 means not correct, 
1 means correct letter + incorrect location, 
2  means correct word + correct location
'''

guesses = {
    'PROUD':[0,1,1,0,2],
    'WEEDS':[0,0,0,1,0],
    'BOARD':[0,2,2,2,2]
}

In [15]:
knowns = {'exact':['.']*5, 'inexact':{}, 'exclude': set({})}
alphabet = list(string.ascii_uppercase)
for letter in alphabet:
    knowns['inexact'][letter] = ['.']*5

for guess, result in guesses.items():
    knowns = add_known_info(guess=guess, result=result, knowns=knowns)

knowns

{'exact': ['.', 'O', 'A', 'R', 'D'],
 'inexact': {'A': ['.', '.', '.', '.', '.'],
  'B': ['.', '.', '.', '.', '.'],
  'C': ['.', '.', '.', '.', '.'],
  'D': ['.', '.', '.', '.', '.'],
  'E': ['.', '.', '.', '.', '.'],
  'F': ['.', '.', '.', '.', '.'],
  'G': ['.', '.', '.', '.', '.'],
  'H': ['.', '.', '.', '.', '.'],
  'I': ['.', '.', '.', '.', '.'],
  'J': ['.', '.', '.', '.', '.'],
  'K': ['.', '.', '.', '.', '.'],
  'L': ['.', '.', '.', '.', '.'],
  'M': ['.', '.', '.', '.', '.'],
  'N': ['.', '.', '.', '.', '.'],
  'O': ['.', '.', 'O', '.', '.'],
  'P': ['.', '.', '.', '.', '.'],
  'Q': ['.', '.', '.', '.', '.'],
  'R': ['.', 'R', '.', '.', '.'],
  'S': ['.', '.', '.', '.', '.'],
  'T': ['.', '.', '.', '.', '.'],
  'U': ['.', '.', '.', '.', '.'],
  'V': ['.', '.', '.', '.', '.'],
  'W': ['.', '.', '.', '.', '.'],
  'X': ['.', '.', '.', '.', '.'],
  'Y': ['.', '.', '.', '.', '.'],
  'Z': ['.', '.', '.', '.', '.']},
 'exclude': {'B', 'E', 'P', 'S', 'U', 'W'}}

In [17]:
filtered_data = filter(knowns=knowns, words=df)
filtered_data

        word   count
5043   HOARD  433375
16666  FOARD   54932
29114  COARD   22092