In [3]:
import pandas as pd
from src.helper_methods import *

words = pd.read_csv('Data-Preprocessed/word_freq.csv').set_index('word')
words.head()

        wordFreq  letterFreqSum  letterPosFreqSum
word
CIGAR  3993843.0          17549              4408
REBUT   235254.0          18231              3715
SISSY  1410911.0          12467              5283
HUMPH    60767.0           8250              2968
AWAKE  3230337.0          15168              4153

In [4]:
# words[[0,1,2,3,4]] = words['word'].str.split('', n=5, expand=True)[[1,2,3,4,5]]
# words.head()

In [6]:
words = elr(words=words.iloc[:10], word_legnth=5)
words.head()

        wordFreq  letterFreqSum  letterPosFreqSum   ELR
word
CIGAR  3993843.0          17549              4408  0.84
REBUT   235254.0          18231              3715  0.82
SISSY  1410911.0          12467              5283  0.60
HUMPH    60767.0           8250              2968  0.48
AWAKE  3230337.0          15168              4153  0.82