# Module Imports

In [25]:
import pandas as pd
import nltk
from nltk.corpus import words

print(f'pandas: {pd.__version__}')
print(f'nltk: {nltk.__version__}')

pandas: 1.3.4
nltk: 3.6.5

# Global Variables

In [26]:
word_length = 5

# Kagle Dataset
https://www.kaggle.com/rtatman/english-word-frequency  
Accessed: 03/07/2022

In [27]:
kaggle = pd.read_csv('Data-Original/unigram_freq.csv')
print(len(kaggle))
kaggle['word'] = kaggle['word'].astype('str').str.upper()
kaggle.head()

333333

  word        count
0  THE  23135851162
1   OF  13151942776
2  AND  12997637966
3   TO  12136980858
4    A   9081174698

In [28]:
mask = kaggle['word'].apply(lambda x: len(x) == word_length)
kaggle = kaggle[mask]
print(len(kaggle))
master_list = kaggle
master_list.head()

39933

     word       count
35  ABOUT  1226734006
45  OTHER   978481319
56  WHICH   810514085
57  THEIR   782849411
62  THERE   701170205

# Import wordfrequency.info Data
https://www.wordfrequency.info/samples.asp  
Accessed: 03/06/2022

In [29]:
word_freq = pd.read_excel('Data-Original/lemmas_60k_words.xlsx')
print(len(word_freq))
word_freq.head()

10125

   lemRank lemma PoS   lemFreq  wordFreq   word
0        5    of   i  23159162  23159162     of
1       15    do   v   8186412   4501047     do
2       15    do   v   8186412   1889734    did
3       15    do   v   8186412    964997   does
4       15    do   v   8186412    461455  doing

## Filter and Transform

In [30]:
word_freq = word_freq[['word', 'wordFreq']].copy()
word_freq['wordFreq'] = word_freq['wordFreq'].astype('int')
word_freq = word_freq.rename(columns={'wordFreq': 'count'})
word_freq['word'] = word_freq['word'].astype('str').str.upper()

mask = word_freq['word'].apply(lambda x: len(x) == word_length)
word_freq = word_freq[mask]
print(len(word_freq))
mask = word_freq['word'].apply(lambda x: x in list(master_list['word']))
word_freq = word_freq[~mask]
print(len(word_freq))
word_freq.head()

667
17

       word  count
1974  CO-OP   2366
2035  UH-OH   4386
2287  TRI-M     19
2357  HM-MM     15
4466  Y'ALL    859

# NLTK Data
Import  
Filter and Transform

In [3]:
nltk_list = words.words()
print(len(nltk_list))

nltk_list = [x.upper() for x in nltk_list if len(x) == word_length]
print(len(nltk_list))
nltk_list = [x for x in nltk_list if x not in list(master_list['word'])]
print(len(nltk_list))
nltk_list[:10]

3.6.5
236736
10422
9963

['AALII',
 'AARON',
 'ABACA',
 'ABACK',
 'ABAFF',
 'ABAFT',
 'ABAMA',
 'ABASE',
 'ABASH',
 'ABASK']

# Combine Data

In [4]:
master_list = master_list.append(pd.DataFrame(data={'word':nltk_list, 'wordFreq':[0] * len(nltk_list)}), ignore_index=True)
master_list = master_list.sort_values(by='word')
print(len(master_list))
print(master_list.head())
print(master_list.tail())

10630
      word  wordFreq
667  AALII         0
668  AARON         0
669  ABACA         0
670  ABACK         0
671  ABAFF         0
        word  wordFreq
10463  ZUDDA         0
10464  ZYGAL         0
10465  ZYGON         0
10466  ZYMIC         0
10467  ZYMIN         0

# Save Preprocessed Data

In [5]:
master_list.to_csv('../Data-Preprocessed/word_freq.csv')